// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

section
  iframe
    height: 100%;
    width: 100%;

.insist {
  margin: 1rem 0;
  font-size: 130%;
  font-style: oblique;
}

th
  color: #000;
  background: #fff

td, th
  padding: .2rem;
  border: 1px solid;

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  max-width: 700px;
}

h2,p {
  padding: 0.3rem 1rem;
  color: #fff;
  background: #111;
}

iframe {
  background: #fff;
}

h2 {
  padding: 0.3rem 0.5rem 0.3rem 1rem;
}

img {
  max-width: 100%;
}

.comment {
  font-style italic;
}

.credit {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.compare {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: transparent;
}

.compare > * {
  padding: 0.3rem;
  color: #111;
  text-align center;
  background: transparent;
}

.compare span:first-child,.compare span:last-child {
  width: 30%;
  color: #fff;
  background: #111;
}

.fullimage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
