doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Choisir une grille CSS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  
  body

    article

      section
        h1 Agile <br><br> pour petits projets

      section.fullimage
        img(src="images/progress-really.png")
        br.bullet
        p.bullet.compare <span>Simple</span> <span><=></span> <span>Complexe</span>
        p.bullet.compare <span>Asynchrone</span> <span><=></span> <span>Réactif</span>
        p.bullet.compare <span>Reproduction</span> <span><=></span> <span>Innovation</span>
        p.bullet.compare <span>Page</span> <span><=></span> <span>Services</span>
        p.credit Par Sam Stephenson

      section
        h2.bullet Le web change
        p.bullet L'action/recherche est le plus adapté
        p.bullet Le web s'appifie

      section
        h2.bullet Petite histoire
        img(src="images/medium_Team_Airbnb.jpg").contentimage
        p.bullet Airbnb

      section.fullimage
        h2 Kanban
        p Échange d'expériences
        img(src="images/roeschwoog.png")

      section.fullimage
        h2 Git
        p Workflow continu
        img(src="images/arbre-genealogique.png")

      section
        h1.bullet Et mon client !
        p.bullet Quelle histoire on raconte ?

      section
        h2 Générateurs de site statique

      section
        h2 Site Sages-Femmes
        p 
          a(href='http://sagesfemmes-normandie.asso.fr/') http://sagesfemmes-normandie.asso.fr/
        p C'est moche et alors j'ai une presta de graphisme de vendu

      section
        p 
          q Jekyll transitions smoothly between prototyping, content authoring, and deployment tasks
        p.credit Young Hahn

      section.fullimage
        img(src="images/contentful_netlify_workflow.svg")
        p.credit agence Carrot

      section
        h1.bullet Vends nous du rêve !

      section
        h2 Fork and Go
        p 
          a(href='http://jlord.us/forkngo/') http://jlord.us/forkngo/

      section
        p 
          q Unless it’s part of your build, your styleguide is just more documentation to maintain
        p.credit Phil Hawksworth

      section
        h2 Documentation
        p 
          a(href='https://mademistakes.com/style-guide/') https://mademistakes.com/style-guide/
        p 
          a(href='https://trulia.github.io/hologram/') https://trulia.github.io/hologram/

      section
        h2 Produits utilisants Jekyll pour leur documentation
        p Bootstrap
        p Stack Overflow blog
        p Github docs
        p Jekyllrb docs
        p SendGrid docs
        p Atlassian Design
        p Cloud Cannon docs
        p Balsamiq support portal
        p healthcare.gov

      section
        h2 Jamstack
        p JavaScript, API and Markup

      section
        h2 Jamstack, C'est quoi ?
        p Compilation & Hébergement découplés
        p Frnont-end & BAck-end découplés
        p API plutôt que base de données
        p HTML, augmenté par du JS.

      section
        h2 Jekyll
        
        p
          a(href='http://jekyllrb.org') Jekyll : http://jekyllrb.org  
        p
          a(href='http://jekyll-fr.org') Communauté Jekyll France : http://jekyll-fr.org

      section
        h2 bertrandkeller
        
        p
          a(href='http://bertrandkeller.info') Blog : http://bertrandkeller.info    
        p
          a(href='http://twitter.com/bertrandkeller') @bertrandkeller

    script(src='build/build.js')
