doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Agile pour petits projets

    link(rel='stylesheet', type='text/css', href='build/build.css')
  
  body

    article

      section
        h1 Agile <br><br> pour petits projets

      section.fullimage
        img(src="images/progress-really.png")
        br.bullet
        p.bullet.compare <span>Simple</span> <span><=></span> <span>Complexe</span>
        p.bullet.compare <span>Pages</span> <span><=></span> <span>Services</span>
        p.credit Par Sam Stephenson

      section
        h2.bullet Le web change
        p.bullet Le web devient applications
        p.bullet L'action/recherche est le plus adapté
        

      section
        h2.bullet Petite histoire
        img(src="images/medium_Team_Airbnb.jpg").contentimage
        p.bullet Airbnb

      section.fullimage
        h2 Kanban
        p Échange d'expériences
        img(src="images/roeschwoog.png")

      section.fullimage
        h2 Git
        p Workflow continu
        img(src="images/arbre-genealogique.png")

      section
        h1.bullet Et mon client !
        p.bullet Quelle histoire on raconte ?

      section
        h2 Générateurs de site statique

       section.fullimage
        p YAML
        p Markdown
        p Liquid
        p SASS
        p ↓
        p HTML
        p CSS

      section.fullimage
        img(src="images/schema-export-static-site.png")

      section
        p 
          q Jekyll transitions smoothly between prototyping, content authoring, and deployment tasks
        p Traduction :
          q T'utilises pas Jekyll ? On est 2016 !
        p.credit Young Hahn

      section
        h2 Site Sages-Femmes
        p 
          a(href='http://sagesfemmes-normandie.asso.fr/') http://sagesfemmes-normandie.asso.fr/

      section.fullimage
        img(src="images/contentful_netlify_workflow.png")
        p.credit agence Carrot

      section
        h1.bullet Mais encore ?
          
      section
        h2 Interfaces riches
        p 
          a(href='http://jlord.us/forkngo/') http://jlord.us/forkngo/

      section.fullimage
        img(src="images/schema-etape-static-site.png")

      section
        h2 Documentation
        p 
          q Unless it’s part of your build, your styleguide is just more documentation to maintain
        p Traduction :
          q La doc ça se génère au moment du Build ! C****** !
        p.credit Phil Hawksworth

      section.fullimage
        img(src="images/documentation-static-site.png")

      section
        h2 Exemples
        p 
          a(href='https://mademistakes.com/style-guide/') https://mademistakes.com/style-guide/
        p 
          a(href='https://trulia.github.io/hologram/') https://trulia.github.io/hologram/

      section
        h2 Jekyll
        
        p
          a(href='http://jekyllrb.org') Jekyll : http://jekyllrb.org  
        p
          a(href='http://jekyll-fr.org') Communauté Jekyll France : http://jekyll-fr.org

      section
        h2 bertrandkeller
        
        p
          a(href='http://bertrandkeller.info') Blog : http://bertrandkeller.info    
        p
          a(href='http://twitter.com/bertrandkeller') @bertrandkeller

        p.credit Merci à Hugues Moreno et Frank Taillandier.

    script(src='build/build.js')
